name = "token-hunter-worker"
main = "worker/index.js"
compatibility_date = "2024-05-01"
account_id = "778a58e60850bf1bea121c6d61e82a8c" # <- جایگزین کنید
workers_dev = true

# اتصال به KV Namespaces
[[kv_namespaces]]
binding = "MY_KV"
id = "d5dc65bcaa4345e78d6df6bbf2a95fb6" # <- جایگزین کنید
preview_id = "d5dc65bcaa4345e78d6df6bbf2a95fb6" # <- جایگزین کنید

# اتصال به Durable Object
[durable_objects]
bindings = [
    { name = "RECENT_TX_STORE", class_name = "RecentTxStore" }
]

# Cron Jobs
[triggers]
crons = ["*/3 * * * *"] # هر 3 دقیقه یک‌بار

# متغیرهای محیطی (Secrets باید با wrangler تنظیم شوند)
[vars]
# TELEGRAM_BOT_TOKEN
# TELEGRAM_CHAT_ID
# ETHEREUM_RPC_URL
# ETHERSCAN_API_KEY

# مسیر کلاس Durable Object
[[migrations]]
tag = "v1"
new_classes = ["RecentTxStore"]